# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg

# Dados gerados pelo pipeline
data/
!data/.keep

# Docker
*.env
.env
*.bak

# Editor/OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Outros
*.log
*.tmp
